/*
!.gitignore
!nvim
!hypr
!fish
!kitty
!yazi
!eww
!mimeapps.list
!spicetify
spicetify/*
!spicetify/config-xpui.ini
!spicetify/Extensions
!spicetify/Themes
!mako
!rofi
!sddm
!starship.toml
!firefox
!tmux
!lazygit
!sway
