/*
!.gitignore
!nvim
!hypr
!fish
!kitty
!yazi
!ags
!mimeapps.list
!spotify-launcher.conf
!spicetify
spicetify/*
!spicetify/config-xpui.ini
!spicetify/Extensions
!spicetify/Themes
!mako
!rofi
!starship.toml
