$sky: #89dceb;
$red: #f38ba8;
$green: #a6e3a1;
$yellow: #f9e2af;
$mauve: #cba6f7;
$lavender: #b4befe;
$peach: #fab387;
$surface0: #313244;
$base: #1e1e2e;
$text-disabled: #a6adc8;
$text: #cdd6f4;

* {
  all: unset;
}

.bar {
  background-color: transparentize($base, 0.6);
  padding: 3pt 8pt;
  margin: 4pt;
  border-radius: 4pt;
}

.logo {
  color: $sky;
  font-size: 16pt;
}

.clock {
  color: $sky;
  font-size: 11pt;
  font-weight: 700;
  margin-left: 2pt;
}

.tray {
  margin-right: 4pt;
}

menu {
  background-color: $base;
  border-radius: 4pt;
  padding: 4pt 0pt;
}

menuitem {
  color: $text;
  padding: 0pt 12pt;

  &:hover {
    background-color: $sky;
  }

  &:disabled {
    color: $text-disabled;
  }
}

tooltip {
  background: transparentize($base, 0.6);
  color: $sky;
  font-weight: 600;
  border-radius: 4pt;
  padding: 2pt;
}

.audio {
  button {
    background: transparent;
    border: 0pt;
    padding: 0;
    outline: none;
    color: $sky,
  }

  label {
    color: $sky,
  }
}

.battery {
  color: $green;
}

.workspaces {
  label {
    font-size: 0;
    min-width: 7pt;
    min-height: 7pt;
    margin: 0pt 2pt;
    padding: 0pt;
    border-radius: 999pt;
    background-color: $sky;

    &.active {
      min-width: 11pt;
      min-height: 11pt;
      background-color: $red;
    }
  }
}

.launcher {
  background: transparentize($base, 0.1);
  border-radius: 8pt;
  padding: 12pt;
  border: 0.5pt solid $sky;

  .search {
    font-size: 11pt;
    font-weight: 600;
    color: $sky;

    border: 0.5pt solid $sky;
    padding: 6pt;
    margin-bottom: 6pt;
    border-radius: 8pt;
  }

  .app-item {
    font-size: 11pt;
    font-weight: 600;
    color: $sky;

    padding: 2pt 6pt;

    &:focus {
      font-size: 14pt;
    }
  }
}

// .settings-button {
//   background: transparentize($base, 0.8);
//   border-radius: 4pt;
// }

.settings {
  margin: 36pt 24pt;

  border-radius: 8pt;
  border: 1pt solid #585b70;

  min-width: 200pt;
  background-color: transparentize($base, 0.1);
  padding: 16pt;

  .power-button {
    padding: 4pt;
    border-radius: 999pt;
    background-color: $surface0;

    transition: background-color 300ms;
  }

  .sleep:hover {
    background-color: $lavender;
  }

  .reboot:hover {
    background-color: $peach;
  }

  .shutdown:hover {
    background-color: $red;
  }

  .audio-slider {
    color: $sky;

    trough {
      border: $text;
      background-color: $surface0;
      min-height: 6pt;
      border-radius: 8pt;

      highlight,
      progress {
        background-color: $sky;
        border-radius: 8pt;
      }
    }

    slider {
      margin: 2pt;
      border-radius: 8pt;
    }
  }


  .brightness-slider {
    color: $mauve;

    trough {
      background-color: $surface0;
      min-height: 6pt;
      border-radius: 8pt;

      highlight,
      progress {
        background-color: $mauve;
        border-radius: 8pt;
      }
    }

    slider {
      margin: 2pt;
      border-radius: 8pt;
    }
  }
}
